<html>

<head>
    <title>
        HackTX - 2018
    </title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="title">
            <img src="https://www.clipartmax.com/png/middle/141-1411793_delta-airlines-logo-transparent-american-airlines-company-logo.png"
                class="logo">
        </div>
    </div>
</body>

<script src="/static/index.js"></script>
<link rel="stylesheet" href="/static/styles/style.css">

</html>