<html>

<head>
    <title>
        HackTX - 2018
    </title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
</head>

<body>
    <div id="app">
        <!-- LOGO -->
        <div class="title">
            <img src="https://files.slack.com/files-pri/T7M08EV7H-FDJLBUNBV/travel-blue-rgb-01.png" class="logo">
        </div>

        <!-- LOGIN AREA -->
        <div class="login" v-show="!loginSuccess">
            <!-- LOGIN MODAL -->
            <v-layout row justify-center>
                <v-dialog v-model="loginToggle" max-width="400">
                    <v-card>

                        <v-card-text class="name-group">
                            <v-card-title class="headline">LOGIN</v-card-title>
                            <input autofocus type="text" v-model="ticketNum" placeholder="Ticket Number">
                            <input autofocus type="text" v-model="lastName" placeholder="Last Name">
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat="flat" @click="loginToggle = false; loginRequest()">
                                LOGIN
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-layout>
        </div>

        <div class="login" v-show="loginErrorToggle">
            <!-- LOGIN ERROR MODAL -->
            <v-layout row justify-center>
                <v-dialog v-model="loginErrorToggle" max-width="400">
                    <v-card>
                        <v-card-text class="name-group">
                            <v-card-title class="headline">LOGIN</v-card-title>
                            <input autofocus type="text" v-model="ticketNum" placeholder="Ticket Number">
                            <input autofocus type="text" v-model="lastName" placeholder="Last Name">
                            <p style="color:red; padding-top:5px;">Ticken Number / LastName not found.</p>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="
                                blue darken-1" flat="flat" @click="loginErrorToggle = false; loginRequest()">
                                LOGIN
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-layout>
        </div>

        <!-- MAIN AREA -->
        <div class="main" v-show="loginSuccess">
            <!-- USERNAME AND SEAT -->
            <div class="userInfo">
                <span class="userName">{{userName}}</span>
                <span class="seatNumber">Seat {{userSeat}}</span>
            </div>

            <!-- INTERESTS -->
            <div class="interests">
                <strong>Interests:&nbsp</strong>{{interests}}
                <i class="far fa-edit" @click="interestDialog = true"></i>
                <a @click="loginSuccess=false;loginToggle=true"><i class="fas fa-sign-out-alt fa-2x"></i></a>
            </div>

            <div class="midSection">
                <!-- OFFER CARD -->
                <v-layout>
                    <v-flex sm12 offset-sm0>
                        <v-card class="card">
                            <v-card-title>
                                <h4>Accept Offers</h4>
                                <div v-if="offerToggle" class="toggleOn"><i @click="offerToggle=false;" class="fas fa-toggle-on fa-2x"></i></div>
                                <div v-else class="toggleOff"><i @click="offerToggle=true" class="fas fa-toggle-off fa-2x"></i></div>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                </v-layout>
                <br>

                <!-- REQUESTS CARD -->
                <v-layout>
                    <v-flex sm12 offset-sm0 @click="requestDialog = true">
                        <v-card class="card">
                            <v-card-title>
                                <h4>Requests</h4>
                                <div class="requestsCount">{{requestsCount}}</div>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                </v-layout>

                <a @click="legendToggle = true">Legend</a>
            </div>

            <!-- MODALS -->
            <!-- --- -->
            <!-- INTEREST DIALOG -->
            <v-layout row justify-center>
                <v-dialog v-model="interestDialog" max-width="290">
                    <v-card>
                        <v-card-title class="headline">Your Interests</v-card-title>
                        <v-card-text class="innerInterestDialog">
                            {{interests}}<br>
                            Add:&nbsp<input type="text" v-model="newInterest" class="interestInput">
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat="flat" @click="interestDialog = false; interestAdd()">
                                Ok
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-layout>

            <!-- REQUEST DIALOG-->
            <v-layout row justify-center>
                <v-dialog v-model="requestDialog" max-width="290">
                    <v-card>
                        <v-card-title class="headline">Requests</v-card-title>
                        <v-card-text>
                            here is the content
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat="flat" @click="requestDialog = false">
                                Ok
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-layout>

            <!-- LEGEND/COLOR-CODE DIALOG  -->
            <v-layout row justify-center>
                <v-dialog v-model="legendToggle" max-width="390">
                    <v-card>
                        <v-card-title class="headline">Color Code</v-card-title>
                        <v-card-text>
                            <div v-for="(data,color) in colorCodes">
                                <span class="legendSeat" :class="'class'+[color]"></span>&nbsp&nbsp{{data}}
                            </div>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat="flat" @click="legendToggle = false">
                                Ok
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-layout>

            <!--USER SEAT CLICK DIALOG-->
            <v-layout row justify-center>
                <v-dialog v-model="userSeatToggle" max-width="290">
                    <v-card>
                        <v-card-title class="headline">Selected Seat: {{currentSelectedSeat}}</v-card-title>
                        <v-card-text>
                            This is your current registered seat.
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat="flat" @click="userSeatToggle = false">
                                OK
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-layout>

            <!--CURRENT SELECTED OFFERED SEAT DIALOG-->
            <v-layout row justify-center>
                <v-dialog v-model="currentSelectedOfferToggle" max-width="290">
                    <v-card>
                        <v-card-title class="headline">Offered Seat: {{currentSelectedSeat}}</v-card-title>
                        <v-card-text>
                            Click 'Send Request' to send the seat exchange request to this passenger.
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat="flat" @click="currentSelectedOfferToggle = false">
                                Send Request
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-layout>

            <!--NOT AVAILABLE SEAT DIALOG-->
            <v-layout row justify-center>
                <v-dialog v-model="notAvailableSeatToggle" max-width="290">
                    <v-card>
                        <v-card-title class="headline">Selected Seat: {{currentSelectedSeat}}</v-card-title>
                        <v-card-text>
                            Sorry, selected seat is not available for exchange.
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat="flat" @click="notAvailableSeatToggle = false">
                                OK
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-layout>

            <!--SEAT REQUESTED BY THE USER DIALOG-->
            <v-layout row justify-center>
                <v-dialog v-model="seatRequestedByUserToggle" max-width="290">
                    <v-card>
                        <v-card-title class="headline">Selected Seat: {{currentSelectedSeat}}</v-card-title>
                        <v-card-text>
                            You have already requested this passenger to exchange the seat.
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat="flat" @click="seatRequestedByUserToggle = false">
                                OK
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-layout>

            <!--SEAT REQUESTED BY OTHER TOGGLE-->
            <v-layout row justify-center>
                <v-dialog v-model="seatRequestedByOtherToggle" max-width="290">
                    <v-card>
                        <v-card-title class="headline">Selected Seat: {{currentSelectedSeat}}</v-card-title>
                        <v-card-text>
                            This passenger would like to exchange the seat.
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat="flat" @click="seatRequestedByOtherToggle = false">
                                Confirm Seat Exchange
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-layout>

            <!--NOT REGISTERED SEAT TOGGLE-->
            <v-layout row justify-center>
                <v-dialog v-model="notRegisteredSeatToggle" max-width="290">
                    <v-card>
                        <v-card-title class="headline">Selected Seat: {{currentSelectedSeat}}</v-card-title>
                        <v-card-text>
                            This seat is not registered to any passenger.
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat="flat" @click="notRegisteredSeatToggle = false">
                                OK
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-layout>

            <!-- SEAT DISPLAY -->
            <div class="seatWrapper">
                <v-layout class="seatSection" v-for="D in seats">
                    <!-- LEFT SEATS -->
                    <v-flex sm12 offset-sm0 v-for="S in D" class="seatInner">
                        <v-card-title>
                            <div class="seats" v-for="seat in S">
                                <!-- <i class="fas fa-square fa-2x" :class="'class'+[seat.seatStatus]" @click="seatClicked(seat)"></i> -->
                                <div class="individualSeat" :class="'class'+[seat.status]" @click="seatClicked(seat)"><span
                                        class="seatID">{{seat.seat_number}}</div>
                            </div>
            </div>
            </v-card-title>
            </v-flex>
            </v-layout>
        </div>


        <!-- FOOTER -->
        <div class="footer" v-show="loginSuccess">
            <a>&copy SeatExchange - Vektor Tech</a>
        </div>
    </div>
</body>

<script src="/static/index.js"></script>
<link rel="stylesheet" href="/static/styles/style.css">

</html>