@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
    --AA-blue: #0078d2;
    --AA-light-blue: #4db4fa;
    --AA-dark-blue: #00467f;
    --AA-green: #00b989;
    --AA-red: #c30019;
    --AA-yellow: #d1d532;
    --AA-gray: #9da6ab;
    --AA-orange: rgb(241, 165, 50);
}

html {
    font-family: "Poppins", sans-serif;
    padding: 30px;
}

#app {
    margin-left: 30%;
    margin-right: 30%;
}

.title {
    text-align: center;
    margin-top: -80px;
}

.logo {
    height: 200px;
    width: 200px;
}

.userInfo {
    margin-top: -50px;
    font-size: 30px;
    display: flex;
}

.userName {
    flex: 1;
}

.seatNumber {}

.interests {
    font-size: 20px;
}

.interests i {
    padding-left: 30px;
}

.interests a {
    color: black;
    padding-left: 25%;
}

.interests i:hover {
    transform: scale(1.1);
}

.interestInput {
    border: solid 1px black;
    margin-top: 5px;
}

.innerInterestDialog {
    margin-top: -20px;
    font-size: 15px;
}

.midSection {
    margin-top: 5%;
}

.midSection a {
    font-size: 15px;
    margin-left: 45%;
    color: var(--AA-dark-blue);
}

.midSection a:hover {
    font-weight: bold;
}

.card {
    text-align: center;
    font-size: 25px;
    height: 80px;
}

.card h4 {
    padding-left: 2%;
}

.toggleOn {
    color: var(--AA-green);
    margin-left: 70%;
    position: absolute;
}

.toggleOff {
    color: var(--AA-red);
    padding-left: 70%;
    position: absolute;
}

.requestsCount {
    margin-left: 73%;
    position: absolute;
    border: solid 1px black;
    padding: 5px 10px 5px 10px;
}

.legendSeat {
    border: solid 2px black;
    border-radius: 10%;
    /* height: 20px;
    width: 20px; */
    padding-left: 15px;
    padding-right: 5px;
    margin-left: 20px;
}

.seatWrapper {
    margin-top: 60px;
    margin-left: 10%;
}

.seatCard {
    /* width: 100%; */
}

.seatSection {
    margin-top: 40px;
}

.seatInner {
    margin-top: -60px;
}

.seats i {
    padding-left: 20px;
}

.individualSeat {
    /* padding-left: 10px; */
    margin: 2px;
    padding: 5px;
    border: solid 2px black;
    border-radius: 10%;
    height: 50px;
    width: 50px;
}

.individualSeat:hover {
    transform: scale(1.1);
}

.seatID {
    font-size: 20px;
}

.classR {
    background-color: var(--AA-red);
}

.classB {
    background-color: var(--AA-light-blue);
}

.classE {
    background-color: var(--AA-gray);
}

.classG {
    background-color: var(--AA-green);
}

.classY {
    background-color: var(--AA-yellow);
}

.classO {
    background-color: var(--AA-orange);
}

.btn1 {
    height: 50px;
    width: 200px;
    font-size: 20px;
    color: var(--AA-blue);
    border: solid 1px var(--AA-blue);
    border-radius: 5%;
    margin-top: 10px;
}

.btn1:hover {
    color: var(--AA-dark-blue);
    border-color: var(--AA-dark-blue);
    transform: scale(1.05);
}

.footer {
    position: absolute;
    width: 100%;
    margin-left: 12%;
}